head
	meta(charset="UTF-8")
	title Angular form
	// build:css css/vender.css
	// bower:css
	// endbower
	// endbuild
	// build:css css/style.css
	link(rel="stylesheet", href="css/style.min.css")
	// endbuild